{% extends 'climatecontroller/base.html' %}

{% block content %}
    <button class="btn btn-primary controller-action-btn">
        <a href="{% url 'change_temperature_controller_mode' %}">
            {% if mode == 1 %}
                Off control
            {% else %}
                On control 
            {% endif %}
        </a>
    </button>

    {% if mode == 0 %}
        <button class="btn btn-primary controller-action-btn">
                <a href="{% url 'change_temperature_controller_state' %}">
                    {% if state == 0 %}
                        On heater
                    {% else %}
                        Off heater
                    {% endif %}
                </a>
        </button>
    {% endif %}

    <script>
        window.name = "temperature";
    </script>
{% endblock %}